body{
    margin:0;
    padding:0;
    display: grid;
    grid-template-rows: 85% auto;
}

.header-title{
    display: flex;
    justify-content: space-between;
}

h1{
    margin:0;
    padding:0;
    border-bottom: #1c8fbb 12px solid ;
    text-align: center;
}

div.depts{
    background-color: rgba(28, 101, 236, 0);
    border-style: solid;
    border-color:  #fdfdfd;
    border-width: 2px;
    width: 33%;
    float: right;   
}

div.infos{
    margin: 1%;
    padding:0;
}

.container img {
    max-width:200px;
    max-height:150px;
    width: auto;
    height: auto;
    
    float: right; 
}